/* reset style */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
}
/* end of reset style */

body {
    background-color: #1d1f21;
    color: #c5c8c6;
    font-family: monospace;
}

fieldset {
    border-width: 1px;
    border-radius: 1em;
}

select {
    cursor: pointer;
}

.hv-center {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    vertical-align: middle;
}

.column-container {
    display: flex;
}

.row-container {
    display: flex;
    flex-direction: column;
}

.tonnetz {
    height: 300px;
    width: 400px;
}

.contour {
    height: 300px;
    flex-grow: 1;
}

.contour-grid-major {
    paint-order: stroke;
    stroke-width: 0;
    fill: #c5c8c6;
}

.contour-grid-minor {
    paint-order: stroke;
    stroke-width: 0;
    fill: #808080;
}

.contour-line {
    paint-order: stroke;
    stroke-width: 3;
    stroke: currentColor;
    fill: currentColor;
}

.tonnetz-circle {
    stroke-width: 2;
    paint-order: stroke;
    stroke: #c5c8c6;
    fill: none;
}

.tonnetz-circle.highlight {
    stroke: #c5c8c6;
}

.tonnetz-circle:not(.highlight) {
    stroke: #808080;
}

.tonnetz-circle:not(.in-scale) {
    display: none;
}

.tonnetz-label {
    font-size: 20px;
}

.tonnetz-label.highlight {
    fill: #c5c8c6;
}

.tonnetz-label:not(.highlight) {
    fill: #808080;
}

.cof-path {
    stroke-width: 2;
    paint-order: stroke;
    stroke: #c5c8c6;
    fill: none;
    shape-rendering: crispEdges;
}

.cof-path:not(.highlight) {
    stroke: #808080;
}

.cof-path:not(.in-scale) {
    display: none;
}

.cof-label {
    font-size: 20px;
}

.cof-label.highlight {
    fill: #c5c8c6;
}

.cof-label:not(.highlight) {
    fill: #808080;
}

.cof-label:not(.in-scale):not(.highlight) {
    display: none;
}

svg {
    display: block;
    margin: auto;
}

.piano {
    height: 150px;
}

.piano-white {
    stroke-width: 1;
    paint-order: stroke;
    stroke: #000000;
    fill: #ffffff;
}

.piano-white.sustained {
    fill: #000000;
}

.piano-white.out-of-key {
    fill: #c0c0c0;
}

.piano-black {
    stroke-width: 1;
    paint-order: stroke;
    stroke: #000000;
    fill: #000000;
}

.piano-black.out-of-key {
    fill: #808080;
}

.piano-color {
    stroke-width: 1;
    paint-order: stroke;
    stroke: #000000;
}

.piano-color:not(.pressed):not(.sustained):not(.overtone) {
    opacity: 0%;
}

.degree {
    color: #1d1f21;
}

.pressed {
    fill: currentColor;
    opacity: 100%;
}

.sustained {
    fill: currentColor;
    opacity: 80%;
}

.degree:not(.sustained):not(.pressed) {
    display: none;
}

.octave {
    font-size: 2em;
    fill: #444444;
}

.console {
    font-size: 3em;
    text-align: center;
}

.padded {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

/* red (primary) */
.\31 /* = 1 */ {
    color: #f98089;
}

/* red orange (tertiary) */
.\35 /* = 5 */ {
    color: #ffa894;
}

/* orange (secondary) */
.\32 /* = 2 */ {
    color: #fecc87;
}

/* yellow orange (tertiary) */
.\36 /* = 6 */ {
    color: #f9e380;
}

/* yellow (primary) */
.\33 /* = 3 */ {
    color: #fff490;
}

/* yellow green (tertiary) */
.\37 /* = 7 */ {
    color: #eaefac;
}

/* green (secondary) */
.♯4 {
    color: #b7e5a5;
}

/* blue green (tertiary) */
.♭2 {
    color: #81e8e5;
}

/* blue (primary) */
.♭6 {
    color: #88d2f9;
}

/* blue violet (tertiary) */
.♭3 {
    color: #a8b7e0;
}

/* violet (secondary) */
.♭7 {
    color: #c193b8;
}

/* red violet (tertiary) */
.\34 /* = 4 */ {
    color: #f9b7c5;
}

.lil-warning {
    color: #f4bf75;
}
